/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

span.purple{
  color: blueviolet;
  font-weight: bolder;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: rgb(141, 17, 203);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

nav a{
    color: white;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: yellowgreen;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}


/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  margin-bottom: 50px;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  padding-top: 110px;
  position: relative;
  
}

.about-details-container {
  max-width: 35%;
  margin-top: 25px;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}


.section-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
}

/* SERVICES SECTION */
#services{
    padding-top: 100px;
}
.outer{
    margin: 70px;
    display: flex;
    justify-content: space-around;
    gap: 10%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    background-color: rgb(141, 17, 203);
    padding: 40px;
    max-width: 20vw;
    height: 250px;
    border-radius: 40px;
    transition: transform 2s ease;
}
.card:hover{
    transform: translateY(-15px);
    cursor: pointer;
}
.card h3{
    padding-left: 40px;
    font-weight: bolder;
}
.card p{
    color: beige;
}

/* PROJECTS SECTION */

section#projects{
    height: max-content;
    padding-top: 100px;
}
.outer{
  gap: 5%;
}
.project{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.project a i{
    position: absolute;
    top: 25px;
    left: 15px;
    color: white;
    display: none;
    padding: 20px;
    padding-top: 30px;
    height: 15px;
    background-color: blueviolet;
    border-radius: 50%;
}
.project:hover i{
    display: block;
}
.project img{
    width: 100%;
    height: 100%;
    border-radius: 7px 7px 0 0;
}
.project div{
    padding: 15px;
    background-color: blueviolet;
    color: white;
    width: 91%;
    text-align: center;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {

  background-color: rgb(228, 83, 228);
  padding: 10px;
}

footer p {
  text-align: center;
  color: rgb(251, 249, 249);
}